mark {
  background-color: rgba(164, 163, 255, 0.658);
}
body {
    text-align: center;
   background: rgb(255, 252, 233) ;
    color:black;
position: relative;
top: 40px;
font-size: 16px;
margin-left: 10%;
margin-right: 10%;
font-family:'Times New Roman', Times, serif;
 }
 h4{
  font-size: 31px;
  background-color: rgb(197, 197, 197);
 }
button{
  font-size: 20px;
}
input{
  font-size: 20px;
}
